* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  color: aqua;
}
.header {
  display: flex;
  background-color: #05055e;
  height: 80px;
  padding: 20px;
  align-items: center;
}
.logo--al {
  border-radius: 50%;
  margin-right: 10px;
  width: 55px;
  height: 55px;
}
.main {
  padding: 20px;
  display: flex;
  background-image: url(./programer.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: center center;
  flex-wrap: wrap;
}

.main__titles {
  width: 240px;
}
.main__list {
  list-style: none;
}
.main--item {
  background-color: #2406ce;
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 10px;
}
.main__content {
  padding: 25px;
  flex: 1;
}
.main__title {
  text-align: center;
}
.main--text {
  text-align: center;
}
.main__questions {
  background-color: #2406ce;
  border-radius: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 240px;
}
.main__question {
  padding: 16px;
  text-align: center;
}
.question__title {
  margin-bottom: 16px;
}
.footer {
  background-color: #2406ce;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  text-align: center;
}
@media (max-width: 768px) {
  .main__questions {
    width: 100%;
    display: flex;
  }
  .main {
    background-image: url(./programer.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: center center;
  }
}
@media (max-width: 480px) {
  .main {
    background-image: url(./programer.jpg);
    background-size:contain;
    background-position: center center;
    background-attachment: fixed;
  }
  .main__titles {
    width: 100%;
  }
  .main__content {
    width: 100%;
    padding: 25px 0;
  }
  .main__questions {
    display: inline-block;
  }
  .main__title {
    margin-bottom: 16px;
  }
  .footer {
    height: auto;
  }
}
